@tailwind base;
@tailwind components;
@tailwind utilities;


h1 {
    font-weight: 800;
}

p,
label {
    font-weight: normal;
    color: #99A4B6;
}

a,
label,
h2 {
    font-weight: 600;

}

button {
    font-weight: 700;
}